# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
venv/
.venv/
env/
.env

# Environment variables
.env
.env.local

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Google Cloud SDK
google-cloud-sdk/
google-cloud-cli-darwin-arm.tar.gz
